$primary-color: #3498db; 
$secondary-color: #ecf0f1;
$flash-notice-color: #dbffdd; 
$flash-alert-color: #ffe1de;
$primary-text-color: #444444;
$errors-background-color: #ffffcc;
$errors-text-color: #dc3d3d;